@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@media (max-width: 800px){

    
html{
    font-family: Roboto ,sans-serif;
    background: #2B2D42;
    color: #EDF2F4;
}

/* Create a container for the navigation */
.nav-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Item inside the navigation */
.item{
    text-align: center;
    background: #545d6e;
}

/* The name and message combined */
div.nameMessage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #D90429;
    padding: 20px;
    border: 1px solid;
    justify-self: center;
}

div.name{
    display: inline-block;
    height: 100px;
    padding-left: 1em;
    margin: 0px;
}

div.message{
    display: inline-block;
    justify-self: center;
}

div.secondMessage{
    display: block;
    text-align: center;
    grid-column-start: span 2;
}

div.page-nav{
    border: 1px solid;
    background: #D90429;
}

.page-item{
    border: 1px solid;
    text-align: center;
    padding-bottom: 1em;
}

h2{
    padding: 0px;
    margin: 0.5em;
}

h1{
    padding: 0px;
    margin: 0px;
}

p{
    display: inline;
    padding: 0px;
}

}